$keyboard-background-color: #7e7976;
$keyboard-border-color: #0e0d0c;
$general-keys-background-color: #353331;
$functional-keys-background-color: #1b1a19;
$lightened-keys-background-color: #72c054;
$general-keys-color: #b9b4b1;
$functional-keys-color: #f1ebe7;